body {
    min-height: 100vh;
    background-image: url('img/clouds.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Times New Roman', Times, serif;
    
}

h1 {
    color: #eca0c9;
}

#weather-search, #weather-results-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

.weather-current {
    background: #f1d1e2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-current .weather-temperature {
    font-size: 48px;
    font-weight: bold;
}

.weather-icon {
    display: none;
}

#forecast-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    background: #f1d1e2;
    border-radius: 10px;
}

.forecast-block {
    min-width: 170px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    .weather-current .weather-temperatur {
        font-size: 32px;
    }

    .forecast-block {
        min-width: 100 px;
        font-size: 16px;
    }
}